{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/dist/estilos.css' %}">

    <title>Hello, world!</title>
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <img src="{% static 'img/encabezado.jpg' %}" alt="la cigarra">

          <div class="row justify-content-center">
            <div class="col-4">
              <form method="POST" class="row">
                {% csrf_token %}
                <div class="col-12">
                  <h2 class="text-center mb-4">Inicio de Sesión</h2>
                  <hr>
                </div>
                <div class="col-12">
                  <label for="inputAddress2" class="form-label">Usuario:</label>
                  <input type="text" class="form-control" name="usuario" id="inputAddress2" placeholder="Usuario">
                </div>
                <div class="col-12">
                  <label for="inputPassword4" class="form-label">Password</label>
                  <input type="password" name="password" class="form-control" id="inputPassword4">
                </div>
                <div class="col-12">
                  <button type="submit" class="btn btn-primary mt-2">Sign in</button>
                </div>
              </form>
            </div>
          </div>

        </div>
        <div class="col-12">
          
          
          {% for mensaje in message  %}
              
              {% if mensaje.tags == success %}
                  <div class="alert alert-success">{{mensaje}}</div>
              {% endif %}
                
          {% endfor %}
            
            
          <div class="alert alert-succ">

          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
  </body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>


